<h1>Simple Calculator</h1>

<%= form_with url: "/subtraction", local: true, data: { turbo: false } do |f| %>
<%= text_field_tag :number1 %>

<%= text_field_tag :number2 %>

<%= submit_tag "-" %>

<% end %>

<hr>

<% if @num1.present? && @num2.present? %>
  <h1>Subtraction</h1><br>
  <%= @num1 %> - <%= @num2 %> = <%= @result %>
<% end %>
<hr>
<%= link_to 'Go back', "/", class: 'button alt' %>